<% unless Rails.env.production? %>
  <div class="bg-yellow-500 text-black text-xs font-bold py-0.5 flex items-center justify-center relative">
    <span><%= Rails.env.capitalize %> Environment</span>
    <span class="absolute right-2 flex items-center gap-1.5">
      <button @click="$store.devMode = !$store.devMode; localStorage.setItem('devMode', $store.devMode)"
              class="px-1.5 rounded text-[10px] font-bold transition cursor-pointer"
              :class="$store.devMode ? 'bg-black/40 text-white' : 'bg-black/20 text-black'">DEV MODE</button>
      <%= yield if block_given? %>
    </span>
  </div>
<% end %>
